$form-width: 40%;
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.block_register{
  transform: translate(-50%,-50%);
  position: absolute;
  left:50%;
  top: 50%;
  line-height: 150%;
  width: $form-width;
}

.input_block{
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
.button{
  width: 100%;
  font-size: 100%;
}
.formControl{
  width: 100%;
  font-size: 100%;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.block_btn{
  /*transform: translate(-50%,-50%);*/
  position: absolute;
  right: 10px;
  width: auto;
  top: 10px;
}
.btn{
  display: inline-block;
  text-align: center;
}
